*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.swp
*.aar
.idea/

dlfunc/classes32.dex
dlfunc/classes64.dex
JNIHelper_dex32.h
JNIHelper_dex64.h